In [8]:
# Ryan Cummings, CMPE 255: Preliminary Analysis, Nov 2 2021.

### Libraries:

In [26]:
import pandas as pd
import numpy as np

# Loading in the Data

In [18]:
data = pd.read_csv("AviationData.txt", sep="|")
#data.to_csv("255Airplane.csv")

In [19]:
data.head()

,Event Id,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,...,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Report Status,Publication Date,
0,20131208X92103,Accident,ERA14FA068,12/08/2013,"Jacksonville, FL",United States,30.319723,-81.514167,CRG,Jacksonville Executive Airport,...,,3,,,,IMC,,Preliminary,12/13/2013,
1,20131206X95526,Accident,ERA14FA066,12/06/2013,"Sebring, FL",United States,27.463333,-81.366667,SEF,Sebring Regional Airport,...,,1,,,,,,Preliminary,12/13/2013,
2,20131205X60841,Accident,ANC14CA010,12/04/2013,"Soldotna, AK",United States,,,,,...,,,,,,,,Preliminary,,
3,20131204X65412,Accident,ERA14CA062,12/03/2013,"Hendersonville, NC",United States,,,,,...,,,,,,,,Preliminary,,
4,20131202X34203,Accident,ERA14LA059,12/02/2013,"Trenton, SC",United States,33.736944,-81.818611,6J6,Edgefield County Airport,...,,,,1,,,,Preliminary,12/13/2013,

In [20]:
data.columns

Index(['Event Id ', ' Investigation Type ', ' Accident Number ',
       ' Event Date ', ' Location ', ' Country ', ' Latitude ', ' Longitude ',
       ' Airport Code ', ' Airport Name ', ' Injury Severity ',
       ' Aircraft Damage ', ' Aircraft Category ', ' Registration Number ',
       ' Make ', ' Model ', ' Amateur Built ', ' Number of Engines ',
       ' Engine Type ', ' FAR Description ', ' Schedule ',
       ' Purpose of Flight ', ' Air Carrier ', ' Total Fatal Injuries ',
       ' Total Serious Injuries ', ' Total Minor Injuries ',
       ' Total Uninjured ', ' Weather Condition ', ' Broad Phase of Flight ',
       ' Report Status ', ' Publication Date ', ' '],
      dtype='object')

### Right off the bat we can take a look at the columns and infer on which columns can be dropped for being unnecessary. From looking at the data some columns that we can drop are: Event ID, Accident Number, Registration Number, FAR Description.

In [21]:
data.drop(['Event Id ', ' Accident Number ', ' Registration Number ', ' FAR Description ', ' Report Status '], inplace = True, axis=1)

In [22]:
data.head()

,Investigation Type,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,Injury Severity,Aircraft Damage,...,Purpose of Flight,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Publication Date,
0,Accident,12/08/2013,"Jacksonville, FL",United States,30.319723,-81.514167,CRG,Jacksonville Executive Airport,Fatal(3),Substantial,...,Personal,,3,,,,IMC,,12/13/2013,
1,Accident,12/06/2013,"Sebring, FL",United States,27.463333,-81.366667,SEF,Sebring Regional Airport,Fatal(1),Destroyed,...,Positioning,,1,,,,,,12/13/2013,
2,Accident,12/04/2013,"Soldotna, AK",United States,,,,,,,...,,,,,,,,,,
3,Accident,12/03/2013,"Hendersonville, NC",United States,,,,,,,...,,,,,,,,,,
4,Accident,12/02/2013,"Trenton, SC",United States,33.736944,-81.818611,6J6,Edgefield County Airport,Non-Fatal,Substantial,...,Personal,,,,1,,,,12/13/2013,

### Reasoning for Dropping:
### - Event Id -> Dropping because it was a unique identifier for the instance (accident/incident).  This would not be helpful for any type of analysis 
### - Accident Number -> Similar to above, I removed it because it was a unique identifier for the accident and it would not be helpful for analysis. 
### - Registration Number -> This was the registration number associated with the aircraft. Again, not useful since it is a unique identifier.
### - FAR Description -> This is the authority the aircraft was operating under at the time of the accident. This is something that we can look at a later time, but for now we don't need it for our analysis.
### Report Status -> This is the furthest level to which a report has been completed. Which is not helpful in our analysis.

More info on the columns and their descriptions can be seen at: https://www.ntsb.gov/_layouts/15/ntsb.aviation/AviationDownloadDataDictionary.aspx

# Data Cleaning

Just from the quick previews up above we can see that there is alot of missing values. I want to see how these values are being represented, is it an empty string? NaN? I explore this further below:

In [25]:
data[' Air Carrier '].values

array(['  ', '  ', '  ', ..., '  ', '  ', '  '], dtype=object)

As we can see the missing values are represented with two spaces ('  '). Now I am going to go through the df and replace all the double spaces with NaN.

In [30]:
data.replace("  ", np.NaN, inplace = True)
data.head()

,Investigation Type,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,Injury Severity,Aircraft Damage,...,Purpose of Flight,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Publication Date,
0,Accident,12/08/2013,"Jacksonville, FL",United States,30.319723,-81.514167,CRG,Jacksonville Executive Airport,Fatal(3),Substantial,...,Personal,NaN,3,NaN,NaN,NaN,IMC,NaN,12/13/2013,
1,Accident,12/06/2013,"Sebring, FL",United States,27.463333,-81.366667,SEF,Sebring Regional Airport,Fatal(1),Destroyed,...,Positioning,NaN,1,NaN,NaN,NaN,NaN,NaN,12/13/2013,
2,Accident,12/04/2013,"Soldotna, AK",United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,Accident,12/03/2013,"Hendersonville, NC",United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,Accident,12/02/2013,"Trenton, SC",United States,33.736944,-81.818611,6J6,Edgefield County Airport,Non-Fatal,Substantial,...,Personal,NaN,NaN,NaN,1,NaN,NaN,NaN,12/13/2013,

As a safety check, I am going to drop all the rows which have NaN as every single one of their values. (aka rows that are completely empty):

In [31]:
data.dropna(axis = 0, how = 'all', inplace = True)

In [32]:
data

,Investigation Type,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,Injury Severity,Aircraft Damage,...,Purpose of Flight,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Publication Date,
0,Accident,12/08/2013,"Jacksonville, FL",United States,30.319723,-81.514167,CRG,Jacksonville Executive Airport,Fatal(3),Substantial,...,Personal,NaN,3,NaN,NaN,NaN,IMC,NaN,12/13/2013,
1,Accident,12/06/2013,"Sebring, FL",United States,27.463333,-81.366667,SEF,Sebring Regional Airport,Fatal(1),Destroyed,...,Positioning,NaN,1,NaN,NaN,NaN,NaN,NaN,12/13/2013,
2,Accident,12/04/2013,"Soldotna, AK",United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,Accident,12/03/2013,"Hendersonville, NC",United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,Accident,12/02/2013,"Trenton, SC",United States,33.736944,-81.818611,6J6,Edgefield County Airport,Non-Fatal,Substantial,...,Personal,NaN,NaN,NaN,1,NaN,NaN,NaN,12/13/2013,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74423,Accident,08/30/1974,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,...,Personal,NaN,3,NaN,NaN,NaN,IMC,CRUISE,02/26/2007,
74424,Accident,07/19/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,...,Personal,NaN,4,0,0,0,UNK,UNKNOWN,09/19/1996,
74425,Accident,10/24/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,...,Personal,NaN,2,0,0,0,UNK,CRUISE,NaN,
74426,Accident,NaN,"Unknown, UN",United States,NaN,NaN,NaN,NaN,Non-Fatal,Substantial,...,PUBF,NaN,NaN,NaN,NaN,1,NaN,NaN,02/08/2013,
74427,Incident,NaN,"Cuzco, Peru",Peru,NaN,NaN,NaN,NaN,Incident,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/12/2001,

# Data Preprocessing

The next thing that I want to do is get the data prepped to be used in possible algorithms such as: Regression, Decision Trees, and Clustering. Feature selection and preperation is important because key insights can be missed because of uncleaned data. For example, the first thing that I want to do is seperate the Date column into 3 columns: Month, Day, Year. I feel that this is important because we are looking at aircraft accidents and there may be more accidents during the winter time of year for example. So extracting month, in this example, is important because if we are going to build some models and this feature may be a key influencer. 

Another feature that I want to extract more info from is the column: 'Injury Severity'. This column consists of the type of injury that occured, in this case it has the values: Fatal, Non-Fatal, Incident, and Unavailable. I want to clean this column because it has values such as: Fatal(14), Fatal(7). I want to take away the number that is in the paranthesis, which is the number of fatalities, and just have it be Fatal. The number of fatalities is seen in another column which makes it redundant to have it again here.

Along with this, I want to seperate the 'Location' column. I want to seperate it because it is composed of city and state in the format of 'City,State'. Having these as seperate columns will be potentially helpful when creating a model. 

These 3 feature engineering decisions are seen below:

### Date

In [61]:
# Date
data[['Month','Day','Year']] = data[' Event Date '].str.split('/',expand=True)

In [76]:
data[[' Event Date ','Month','Day','Year']].head()

    Event Date  Month Day   Year
0   12/08/2013     12  08  2013
1   12/06/2013     12  06  2013
2   12/04/2013     12  04  2013
3   12/03/2013     12  03  2013
4   12/02/2013     12  02  2013

### Injury Severity

In [143]:
# Injury Severity
lst = []
for i in data[' Injury Severity ']:
    try:
        if i == np.NaN:
            lst.append(np.NaN)
            continue
        if 'Fatal(' in i:
            lst.append(i[0:-4])
        else:
            lst.append(i)
    except:
        continue

In [144]:
len(lst)

74372

In [145]:
# Injury Severity
severity_lst = []
counter = 0
for i in (pd.isna(data[' Injury Severity ']) == False):
    if i == True:
        severity_lst.append(lst[counter])
        counter += 1
    if i == False:
        severity_lst.append(np.NaN)

In [147]:
len(severity_lst)

74428

In [148]:
data[' Injury Severity '] = severity_lst
data.head()

,Investigation Type,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,Injury Severity,Aircraft Damage,...,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Publication Date,,Month,Day,Year
0,Accident,12/08/2013,"Jacksonville, FL",United States,30.319723,-81.514167,CRG,Jacksonville Executive Airport,Fatal,Substantial,...,NaN,NaN,NaN,IMC,NaN,12/13/2013,,12,08,2013
1,Accident,12/06/2013,"Sebring, FL",United States,27.463333,-81.366667,SEF,Sebring Regional Airport,Fatal,Destroyed,...,NaN,NaN,NaN,NaN,NaN,12/13/2013,,12,06,2013
2,Accident,12/04/2013,"Soldotna, AK",United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,12,04,2013
3,Accident,12/03/2013,"Hendersonville, NC",United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,12,03,2013
4,Accident,12/02/2013,"Trenton, SC",United States,33.736944,-81.818611,6J6,Edgefield County Airport,Non-Fatal,Substantial,...,NaN,1,NaN,NaN,NaN,12/13/2013,,12,02,2013

### Location

In [152]:
# Location
data[['Location_City','Location_State']] = data[' Location '].str.split(',',expand=True)[[0,1]]
data[[' Location ','Location_City','Location_State']].head()

              Location     Location_City Location_State
0     Jacksonville, FL      Jacksonville            FL
1          Sebring, FL           Sebring            FL
2         Soldotna, AK          Soldotna            AK
3   Hendersonville, NC    Hendersonville            NC
4          Trenton, SC           Trenton            SC

### Now that the data has been handled the way I wanted it to, we can drop the columns that have been transformed:

In [154]:
data.drop([' Location ', ' Event Date '], inplace = True, axis = 1)

In [155]:
data.head()

,Investigation Type,Country,Latitude,Longitude,Airport Code,Airport Name,Injury Severity,Aircraft Damage,Aircraft Category,Make,...,Total Uninjured,Weather Condition,Broad Phase of Flight,Publication Date,,Month,Day,Year,Location_City,Location_State
0,Accident,United States,30.319723,-81.514167,CRG,Jacksonville Executive Airport,Fatal,Substantial,Airplane,CESSNA,...,NaN,IMC,NaN,12/13/2013,,12,08,2013,Jacksonville,FL
1,Accident,United States,27.463333,-81.366667,SEF,Sebring Regional Airport,Fatal,Destroyed,Helicopter,TEXAS HELICOPTER CORP,...,NaN,NaN,NaN,12/13/2013,,12,06,2013,Sebring,FL
2,Accident,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BELLANCA,...,NaN,NaN,NaN,NaN,,12,04,2013,Soldotna,AK
3,Accident,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ANDERSON ANDREAS,...,NaN,NaN,NaN,NaN,,12,03,2013,Hendersonville,NC
4,Accident,United States,33.736944,-81.818611,6J6,Edgefield County Airport,Non-Fatal,Substantial,Airplane,MOFFITT OSCAR/ KIT PROSTAR A/C,...,NaN,NaN,NaN,12/13/2013,,12,02,2013,Trenton,SC